<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MigrateEmailAndPhoneCallWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.MigrationDB_Dev"
            connectionString="Data Source=DEVIHUBSQL1.US.CROWNCASTLE.COM,53895;Initial Catalog=Migration;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.WirelessCRMDB_Dev"
            connectionString="Data Source=DEVWLSCRMSQL1.US.CROWNCASTLE.COM,49869;Initial Catalog=Wireless_MSCRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.WirelessCRMDB_Test"
            connectionString="Data Source=DEVWLSCRMSQL1.US.CROWNCASTLE.COM,49869;Initial Catalog=WirelessDev5_MSCRM;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.WirelessCRMDB_UAT"
            connectionString="Data Source=DEVWLSCRMSQL1.US.CROWNCASTLE.COM,49869;Initial Catalog=Wireless_MSCRM;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.FiberCRMDB_Dev"
            connectionString="Data Source=DEV3CCFCRMSQL1.US.CROWNCASTLE.COM,49843;Initial Catalog=CCFDEV3_MSCRM ;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.FiberCRMDB_Test"
            connectionString="Data Source=DEV3CCFCRMSQL1.US.CROWNCASTLE.COM,49843;Initial Catalog=CCFDEV3_MSCRM ;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.FiberCRMDB_UAT"
            connectionString="Data Source=DEV5CCFCRMSQL1.US.CROWNCASTLE.COM,54388;Initial Catalog=CCFDEV5_MSCRM ;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.MigrationDB_Test"
            connectionString="Data Source=IHUBSQL_TST.US.CROWNCASTLE.COM,59085;Initial Catalog=Migration;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.MigrationDB_UAT"
            connectionString="Data Source=IHUBSQL_UAT.US.CROWNCASTLE.COM,52420;Initial Catalog=Migration;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.CCFDEV3_MSCRMConnectionString"
            connectionString="Data Source=DEV3CCFCRMSQL1.US.CROWNCASTLE.COM\DEV3CCFCRMSQL1,49843;Initial Catalog=CCFDEV3_MSCRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.IHUBDATA2_DEV"
            connectionString="Data Source=DEVIHUBSQL1.US.CROWNCASTLE.COM,53895;Initial Catalog=IHUBDATA2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.IHUBDATA2_Test"
            connectionString="Data Source=IHUBSQL_TST.US.CROWNCASTLE.COM,59085;Initial Catalog=IHUBDATA2;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.IHUBDATA2_UAT"
            connectionString="Data Source=IHUBSQL_UAT.US.CROWNCASTLE.COM,52420;Initial Catalog=IHUBDATA2;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.FiberCRMDB_STG"
            connectionString="Data Source=DEV4CCFCRMSQL1.US.CROWNCASTLE.COM,51489;Initial Catalog=CCFDEV4_MSCRM ;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.WirelessCRMDB_STG"
            connectionString="Data Source=DEVWLSCRMSQL1.US.CROWNCASTLE.COM,49869;Initial Catalog=Wireless_MSCRM;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.IHUBDATA2_STG"
            connectionString="Data Source=IHUBSQL_STG.US.CROWNCASTLE.COM,51717;Initial Catalog=IHUBDATA2;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.MigrationDB_STG"
            connectionString="Data Source=IHUBSQL_STG.US.CROWNCASTLE.COM,51717;Initial Catalog=Migration;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.WirelessCRMDB_Prod"
            connectionString="Data Source=WIRELESSCRMPRD.US.CROWNCASTLE.COM,52065;Initial Catalog=Wireless_MSCRM;Integrated Security=True" />
        <add name="MigrateEmailAndPhoneCallWPF.Properties.Settings.FiberCRMDB_Prod"
            connectionString="Data Source=CCFCRMSQLN1.US.CROWNCASTLE.COM,62215;Initial Catalog=CCFPROD_MSCRM;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <userSettings>
    <MigrateEmailAndPhoneCallWPF.Properties.Settings>
      <setting name="CRMOrgServiceDev" serializeAs="String">
        <value>https://crowncastle-dev.api.crm.dynamics.com/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="CRMOrgServiceTest" serializeAs="String">
        <value>https://crowncastle-test.api.crm.dynamics.com/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="CRMOrgServiceUAT" serializeAs="String">
        <value>https://crowncastle-uat.api.crm.dynamics.com/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="InsideSalesOrgServ" serializeAs="String">
        <value>https://org56d67cf6.api.crm.dynamics.com/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="UsernameIS" serializeAs="String">
        <value>dynamics_dev_service_user@crowncastle.onmicrosoft.com</value>
      </setting>
      <setting name="PasswordIS" serializeAs="String">
        <value>Crown@dev123</value>
      </setting>
      <setting name="CRMOrgServiceSTG" serializeAs="String">
        <value>https://crowncastle-stage.crm.dynamics.com/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="CRMDevURI" serializeAs="String">
        <value>https://crowncastle-dev.crm.dynamics.com/</value>
      </setting>
      <setting name="CRMTestURI" serializeAs="String">
        <value>https://crowncastle-test.crm.dynamics.com/</value>
      </setting>
      <setting name="CRM_UAT_URI" serializeAs="String">
        <value>https://crowncastle-uat.crm.dynamics.com/</value>
      </setting>
      <setting name="CRM_STG_URI" serializeAs="String">
        <value>https://crowncastle-stage.crm.dynamics.com/</value>
      </setting>
      <setting name="CRM_MOCK_URI" serializeAs="String">
        <value>https://crowncastle-mock.crm.dynamics.com/</value>
      </setting>
      <setting name="CRMOrgServiceMock" serializeAs="String">
        <value>https://crowncastle-mock.api.crm.dynamics.com/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="CRMOrgServiceProd" serializeAs="String">
        <value>https://crowncastle.api.crm.dynamics.com/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="CRM_Prod_URI" serializeAs="String">
        <value>https://crowncastle.crm.dynamics.com/</value>
      </setting>
      <setting name="MigrationDB_Prod" serializeAs="String">
        <value>Data Source=IHUBSQL_PRD.US.CROWNCASTLE.COM,54805;Initial Catalog=Migration;Integrated Security=True</value>
      </setting>
      <setting name="IHUBDATA2_Prod" serializeAs="String">
        <value>Data Source=IHUBSQL_PRD.US.CROWNCASTLE.COM,54805;Initial Catalog=IHUBDATA2;Integrated Security=True</value>
      </setting>
      <setting name="InsideSalesOrgServProd" serializeAs="String">
        <value>https://ccicwireless.api.crm.dynamics.com/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="PasswordISProd" serializeAs="String">
        <value>an4aiR?ei8aeh1h</value>
      </setting>
      <setting name="UsernameISProd" serializeAs="String">
        <value>Zwlscrmmkto@us.crowncastle.com</value>
      </setting>
    </MigrateEmailAndPhoneCallWPF.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>